In [ ]:
t=int(input())
print(t)

10
10

In [ ]:
#Task- A
t = int(input())
for i in range(t):
    a = int(input())
    if a % 2 == 0:
        print(a,"is an Even number.")
    else:
        print(a,"is an Odd number.")

5
5
5 is an Odd number.
41
41 is an Odd number.
2
2 is an Even number.
100
100 is an Even number.
78
78 is an Even number.

In [ ]:
#Task - B
t = int(input())
for i in range(t):
  a = str(input())
  for i in a:
    ans = 0
    num1 = ""
    num2 = ""
    if a == 0 or a == 1 or a == 2 or a == 3 or a == 4 or a == 5 or a == 6 or a == 7 or a == 8 or a == 9:
      num1 += a
    if a == "+"

1
calculate 67 +  41
calculate 67 +  41

In [ ]:
#Task - B
for i in range(int(input())):
  a = str(input())
  b = a.split()
  num1 = int(b[1])
  op = b[2]
  num2 = int(b[3])
  if op == "+":
    print("{:.6f}".format(num1+num2))
  elif op == "-":
    print("{:.6f}".format(num1-num2))
  elif op == "*":
    print("{:.6f}".format(num1*num2))
  elif op == "/":
    print("{:.6f}".format(num1/num2))

4
calculate 67 + 41
108.000000
calculate 85 / 5
17.000000
calculate 13 - 56
-43.000000
calculate 12 * 19
228.000000

In [ ]:
li=input().split()
n = int(li[0])
k = int(li[1])
lst = []
for i in range(n):
  lst.append(int(input()))
if n%2==0:
  for j in range(-k+1,-len(lst)-1,-1):
    print(lst[j],end=" ")
else:
    for k in range(-k,-len(lst)-1,-1):
      print(lst[k],end=" ")

8 5
20
8
9
3
10
7
100
12
10 3 9 8 20

In [ ]:
# Task - C
li=input().split()
n = int(li[0])
k = int(li[1])
lst = input().split()
if n%2==0:
  for j in range(-k+1,-len(lst)-1,-1):
    print(lst[j],end=" ")
else:
    for a in range(-k,-len(lst)-1,-1):
      print(lst[a],end=" ")

8 5
20 8 9 3 10 7 100 12
10 3 9 8 20

In [ ]:
# Task - C
li = input().split()
n = int(li[0])
k = int(li[1])
lst = input().split()
rev = lst[::-1]
if n%2 != 0:
  out = " ".join(map(str,rev[k-1:len(rev)]))
  print(out)
else:
  out = " ".join(map(str,rev[k-2:len(rev)]))
  print(out)

8 5
20 8 9 3 10 7 100 12
10 3 9 8 20

In [ ]:
# Task - C
li=input().split()
n = int(li[0])
k = int(li[1])
lst = []
for i in range(n):
  lst.append(int(input()))
rev = lst[::-1]
out = " ".join(map(str,rev[k-1:len(rev)]))
print(out)



# if n%2==0:
#   for j in range(-k+1,-len(lst)-1,-1):
#     print(lst[j],end=" ")
# else:
#     for k in range(-k,-len(lst)-1,-1):
#       print(lst[k],end=" ")

8 5
20
8
9
3
10
7
100
12
3 9 8 20

In [ ]:
# Task - C
li=input().split()
n = int(li[0])
k = int(li[1])
lst = []
for i in range(n):
  lst.append(int(input()))
rev = lst[::-1]
#print(lst)
for j in range(k):
  print(rev[j],end=" ")
#print(rev)
# for j in range(len(lst)//2):
#   lst[j] = lst[len(lst)-j-1]
#   lst[len(lst)-j-1] = lst[j]
# print(lst)a

5 3
5
6
7
8
9
9 8 7

In [ ]:
a = [20,8,9,3,10,7,100,12]
for i in range(-5+1,-len(a)-1,-1):
  print(a[i],end=" ")
# print()
# b = [5,6,7,8,9]
# for j in range(-3+1,-len(a)-1,-1):
#   print(b[j],end=" ")

10 3 9 8 20

In [ ]:
# Task - C
li=input().split()
n = int(li[0])
k = int(li[1])
lst = []
for i in range(n):
  lst.append(int(input()))
new = []
for j in range(k):


# print(n)
# print(k)

5 3
5
6
7
8
9
[5, 6, 7, 8, 9]

In [ ]:
for i in range(2+1):
  print(i)

0
1
2

In [ ]:
# Task- D
for i in range(int(input())):
  n = int(input())
  print(int((n*(n+1))/2))

5
2
3
5
15
10
55
12
78
100
5050

In [ ]:
# Task - D
for i in range(int(input())):
  sum = 0
  for j in range(1+int(input())):
    sum = sum + j
  print(sum)

5
2
3
5
15
10
55
12
78
100
5050

In [ ]:
# Task - E
a = []
for k in range(int(input())):
  a.append(int(input()))
for i in range(len(a)-1):
  for j in range(i):
    if a[j] > a[j+1]:
      temp = a[j]
      a[j] = a[j+1]
      a[j+1] = temp
print(a)

5
3 2 1 4 5

ValueError: invalid literal for int() with base 10: '3 2 1 4 5'

In [ ]:
# Task- E
def bubble_sort(arr):
  for i in range(len(arr)-1):
    for j in range(i):
      if arr[j] > arr[j+1]:
        temp = arr[j]
        arr[j] = a[j+1]
        arr[j+1] = temp
a = [3,2,1,4,5]
bubble_sort(a)
print(a)
b = [5,10,15,20,25,30]
bubble_sort(b)
print(b)

[1, 2, 3, 4, 5]
[5, 10, 15, 20, 25, 30]

In [ ]:

a = [3,2,1,4,5]
for i in range(len(a)-1):
  print(a[i])

3
2
1
4

In [ ]:
a = {1:10,2:10,3:20,4:50,5:10,7:40,9:50}
print(a[50])

KeyError: 50

In [ ]:
# Task - F
#a = {1:10,2:10,3:20,4:50,5:10,7:40,9:50}
a = {40:7,50:4,50:9,20:3,10:2,10:5,10:1}
key1 = []
val1 = []
count = 0
for key,val in a.items():
  # key1.append(key)
  print(key,val)
# print(key1)
for i in range(len(val1)):
  max = i
  for j in range(i,len(val1)):
    if val1[j] > val1[max]:
      max = j
      count+=1
    else:
      pass
  temp = val1[i]
  val1[i] = val1[max]
  val1[max] = temp
  # print("ID :",,"Mark :",val1[i])
# print(val1)
# print(count)

40 7
50 9
20 3
10 1

In [ ]:
def rank_students(students):
    n = len(students)
    count
    # Selection Sort to minimize swaps
    for i in range(n):
        min_idx = i
        for j in range(i + 1, n):
            # Sorting by marks in descending order, if equal, by ID in ascending order
            if (students[j][1] > students[min_idx][1]) or \
               (students[j][1] == students[min_idx][1] and students[j][0] < students[min_idx][0]):
                min_idx = j

        # Swap only if needed
        if min_idx != i:
            students[i], students[min_idx] = students[min_idx], students[i]

    return students

# Example usage
students = [(7, 80), (2, 60), (5, 80), (3, 50)]
ranked_students = rank_students(students)
for student in ranked_students:
    print("ID :",student[0],"Mark :",student[1])

ID : 5 Mark : 80
ID : 7 Mark : 80
ID : 2 Mark : 60
ID : 3 Mark : 50

In [ ]:
students = [(7, 80), (2, 60), (5, 80), (3, 50)]
n = len(students)
    # Selection Sort to minimize swaps
for i in range(n):
    min_idx = i
    for j in range(i + 1, n):
            # Sorting by marks in descending order, if equal, by ID in ascending order
        if (students[j][1] > students[min_idx][1]) or \
            (students[j][1] == students[min_idx][1] and students[j][0] < students[min_idx][0]):
            min_idx = j
            #count+=1

        # Swap only if needed
    if min_idx != i:
        count+=1
        students[i], students[min_idx] = students[min_idx], students[i]

# Example usage
print(count)
for student in ranked_students:
    print("ID :",student[0],"Mark :",student[1])

28
ID : 5 Mark : 80
ID : 7 Mark : 80
ID : 2 Mark : 60
ID : 3 Mark : 50

In [ ]:
students = [(7, 80), (2, 60), (5, 80), (3, 50)]
n = len(students)
    # Selection Sort to minimize swaps
for i in range(n):
    min_idx = i
    for j in range(i + 1, n):
            # Sorting by marks in descending order, if equal, by ID in ascending order
        if (students[j][1] > students[min_idx][1]) or \
            (students[j][1] == students[min_idx][1] and students[j][0] < students[min_idx][0]):
            min_idx = j
            #count+=1

        # Swap only if needed
    if min_idx != i:
        count+=1
        students[i], students[min_idx] = students[min_idx], students[i]

# Example usage
print(count)
for student in ranked_students:
    print("ID :",student[0],"Mark :",student[1])

30
ID : 5 Mark : 80
ID : 7 Mark : 80
ID : 2 Mark : 60
ID : 3 Mark : 50

In [ ]:
# Task - G
t = int(input())
new = []
for i in range(t):
  a = str(input())
  b = a.split()
# new = []
# for j in range(t):
  new.append(b[0])
print(min(new))

#print(new)



  # print(b)
  # print(len(b))

2
ABCD will departure for Mymensingh at 00:30
ABC will departure for Mymensingh at 00:30
ABC

In [ ]:
# create a python dictionary
d = {1:10,2:10,3:20,4:50,5:10,7:40,9:50}

# loop over dict values
for key in d.values():
    print(key)

10
10
20
50
10
40
50